*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
/app/build/
/domain/build/
/app/release/
/app/debug/
*.keystore
*.jks
!debug.keystore
.cache/
/gradle/wrapper/dists/
/*/build/
local.properties
